<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div style="margin: 40px 0;">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <app-language-navbar></app-language-navbar>
      <div class="navbar-collapse collapse justify-content-center">
      <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let tab of tabs">
              <a routerLink="{{tab.path}}" translate class="nav-link" [ngClass]="{activeLink: currentTab === tab.path}" (click)="setCurrentTab(tab.path)">{{tab.name}}</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text small text-truncate mt-1 text-right"></span>
  </nav>
  <div id="notification-container" (click)="removeNotification()" class="hidden"></div>
</div>
<router-outlet></router-outlet>
