<div class="pageup">
  <div class="text-right">
    <span class="fas fa-sync-alt cursor-pointer" (click)="getCases()"></span> Last update: {{lastUpdate | date:'dd/MM/yyyy HH:mm'}}
    <br>
  </div>
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="form-group col-md-2">
        <input id='licensePlate' placeholder="License Plate" formControlName="licensePlate" autocorrect="off" autocapitalize="off"
          spellcheck="off" type="text" class="form-control" #licensePlate>
      </div>
      <div class="form-group col-md-2">
        <input id='assignmentNo' placeholder="Assignment No." formControlName="assignmentNo" autocorrect="off" autocapitalize="off"
          spellcheck="off" type="text" class="form-control" #assignmentNo>
      </div>
      <div class="form-group col-md-2">
        <select id="serviceType" formControlName="serviceType" class="form-control">
          <option [value]="undefined" disabled [selected]="true">Service Type</option>
          <option *ngFor="let option of serviceTypeOptions" [value]="option.id">{{option.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-primary wbth" (click)="filter()">Search</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-2">
        <app-datepicker-adapter [date]="initDate" (change)="setDate($event, 'initDate')"></app-datepicker-adapter>
      </div>
      <div class="form-group col-md-2">
        <app-datepicker-adapter [date]="endDate" (change)="setDate($event, 'endDate')"></app-datepicker-adapter>
      </div>
      <div class="form-group col-md-2">
        <select id="eventType" formControlName="eventType" class="form-control">
          <option [value]="undefined" disabled [selected]="true">Event Type</option>
          <option *ngFor="let option of eventTypeOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <select id="status" formControlName="status" class="form-control">
          <option [value]="undefined" disabled [selected]="true">Status</option>
          <option *ngFor="let option of statusOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-outline-primary wbth" (click)="reset()">Reset</button>
      </div>
    </div>

  </form>
</div>

<div class="pagedown">
<table class="table" >
    <thead class="h2">
        <tr>
          <th nowrap scope="col" class="cursor-pointer" (click)="tab = 'To Accept'">To Accept
            <span class="fas" *ngIf="key =='dispatchTime'"></span>
          </th>
          <th nowrap scope="col" class="cursor-pointer">To Dispatch
            <span class="fas" *ngIf="key =='serviceType'"></span>
          </th>
          <th nowrap scope="col" class="cursor-pointer" (click)="tab = 'To Monitor'">To Monitor
              <span class="fas" *ngIf="key =='dispatchTime'"></span>
            </th>
        </tr>
        </thead>
  <thead>
    <tr *ngIf="true">
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('dispatchTime')">Dispatch Time
        <span class="fas fa-sort" *ngIf="key =='dispatchTime'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('serviceType')">Service Type
        <span class="fas fa-sort" *ngIf="key =='serviceType'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('eventType')">Event Type
        <span class="fas fa-sort" *ngIf="key =='eventType'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('licensePlate')">License Plate
        <span class="fas fa-sort" *ngIf="key =='licensePlate'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('eventLocation')">Event Location
        <span class="fas fa-sort" *ngIf="key =='eventLocation'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap *ngIf="tab == 'To Accept'" scope="col" class="cursor-pointer" (click)="sort('vehicleModel')">Vehicle model
        <span class="fas fa-sort" *ngIf="key =='vehicleModel'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap *ngIf="tab == 'To Accept'" scope="col" class="cursor-pointer" (click)="sort('vehicleRegDate')">Vehicle Reg. Date
        <span class="fas fa-sort" *ngIf="key =='vehicleRegDate'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('assignmentNo')">Assignment No.
        <span class="fas fa-sort" *ngIf="key =='assignmentNo'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('product')">Product
        <span class="fas fa-sort" *ngIf="key =='product'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap *ngIf="tab == 'To Monitor'" scope="col" class="cursor-pointer" (click)="sort('product')">Est. Arrival Time
          <span class="fas fa-sort" *ngIf="key =='product'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
        </th>
        <th nowrap *ngIf="tab == 'To Monitor'" scope="col" class="cursor-pointer" (click)="sort('status')">Remaining Time
          <span class="fas fa-sort" *ngIf="key =='status'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
        </th>
      <th nowrap scope="col" class="cursor-pointer" (click)="sort('status')">Status
        <span class="fas fa-sort" *ngIf="key =='status'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th nowrap scope="col" class="cursor-pointer">Action
        </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let case of casesFilter() | search : valueSearch | orderBy: key : reverse">
      <td nowrap>{{case.dispatchTime | date:'dd/MM/yyyy HH:mm'}}</td>
      <td nowrap>{{case.serviceType}}</td>
      <td nowrap>{{case.eventType}}</td>
      <td nowrap>{{case.licensePlate}}</td>
      <td nowrap>{{case.eventLocation}}</td>
      <td nowrap *ngIf="tab == 'To Accept'">{{case.vehicleModel}}</td>
      <td nowrap *ngIf="tab == 'To Accept'">{{case.vehicleRegDate | date:'dd/MM/yyyy'}}</td>
      <td nowrap>{{case.assignmentNo}}</td>
      <td nowrap>{{case.product}}</td>
      <td nowrap *ngIf="tab == 'To Monitor'"></td>
      <td nowrap *ngIf="tab == 'To Monitor'"></td>
      <td nowrap>{{case.status}}</td>
    </tr>
  </tbody>
</table>
</div>
